@media screen and (max-width: 400px) {
  #features,
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer,
  #portfolio {
    width: 100% !important;
    padding: 20px !important;
    box-sizing: border-box !important;
    margin: 0 !important;
  }
}
